@import url("./variables.css");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 141px;
  background-color: var(--primary-color);
}
