@import url("./variables.css");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  color: var(--basic-color);
}

header {
  height: 141px;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 0 80px 0 80px;

  div.company {
    display: flex;
    gap: 20px;
    .company_logo {
      width: 36px;
      height: 31px;
      fill: var(--secondary-color);
    }

    p {
      font-size: 22px;
      font-weight: 600;
    }
  }
}

nav {
  ul {
    display: flex;
    gap: 20px;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--basic-color);
      font-weight: 300;
    }

    a:hover {
      color: var(--secondary-color);
      transition-duration: 600ms;
    }

    span {
      font-weight: 300;
      color: var(--basic-color);
    }
  }
}

main {
  padding: 0 80px 0 80px;
  /* Section First */

  section.first {
    background-position: 100%;
    background-image: url(./photos/saxli.avif);
    height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    div.overlay {
      height: 100%;
      background-color: var(--overlay-color);
      padding-left: 80px;
      flex-direction: column;
      justify-content: center;
      display: flex;

      h1 {
        color: var(--primary-color);
        font-size: 72px;
        width: 690px;
        margin-bottom: 70px;
        font-weight: 600;
      }

      button {
        width: 183px;
        height: 40px;
        background-color: var(--primary-color);
        color: var(--basic-color);
        border: none;
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;
      }
      button:hover {
        color: var(--secondary-color);
        transition-duration: 600ms;
      }
    }
  }

  /* Section Second */
  section.second {
    display: flex;
    margin: 60px 0 80px 0;
    div.background_img {
      width: 50%;
      height: 680px;
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      background-image: url(./photos/samzareulo.avif);
    }

    div.short_info {
      width: 50%;

      div.wrapper {
        width: 460px;

        p {
          font-size: var(--primary-color);
          font-weight: 200;
          color: var(--basic-color);
          line-height: 25.5px;
          margin: 30px 0 30px 0;
        }

        a {
          background-color: var(--basic-color);
          padding: 10px 31px 10px 31px;
          font-size: 14px;
          color: var(--primary-color);
          font-weight: 200;
          text-decoration: none;
          cursor: pointer;
        }

        a:hover {
          background-color: var(--secondary-color);
        }
      }
    }
  }

  /* Section Third */

  section.third {
    h2 {
      text-align: center;
      color: var(--basic-color);
    }
    div.parent {
      display: flex;
      margin-top: 140px;
      gap: 30px;
      justify-content: space-around;
    }

    div.child {
      width: 232px;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 600;
        color: var(--secondary-color);
        line-height: 31.02px;
        height: 62px;
      }
      p {
        font-size: var(--primary-font);
        color: var(--basic-color);
        font-weight: 200;
        margin-top: 40px;
      }
    }
  }

  /* Section Fourth */
}
